.warehouses {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap: 20px;
    align-items: center;
    /* justify-items: flex-start; */
}

.warehouse{
    margin: 20px 0 !important;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.user-img-info {
    display: flex;
    align-items: center;
}

.warehouses .status {
    display: flex !important;
    align-items: flex-start;

}

.cont{
    display: flex !important;
}

.img {
    margin-right: 15px;
}

.status {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.username {
    font-size: 1.2rem;
    font-weight: bold;
    /* margin-bottom: 5px; */
}

.location {
    overflow: hidden;
    width: 65% !important;
    text-overflow: ellipsis;
    height: 20px !important;
    white-space: nowrap;
}
.del-btn-warehouse{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.warehouse-widgets{
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.warehouse-widgets-info{
    width: 48%;
    height:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.warehouse-widgets-info-data{
    width: max-content;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 5px;
}
.warehouse-widgets-info-data div h3, .warehouse-widgets-info-data div p{
    display:inline;
}
.warehouse-widgets-info-data div p{
    font-weight: 400;
    font-size: 17px;
}
.warehouse-widgets-info-data div:first-child{
    display:flex;
    flex-direction: column;
    gap: 5px;
}
.del-btn-warehouse-disalble{
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
}

.cont{
    padding:10px 20px;
    display: flex;
    justify-content:flex-start;
    height: 100%;
    gap: 20px;
}
.warehouses-cont{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}