.warehouses {
    margin: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* gap: 20px; */
}
.userinfo{
    min-width: 100%;
}

.warehouse-data{
    min-width: 450px;
    max-width: 60%;
    height: max-content;
    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1000px){
    .warehouse-data {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 500px) {
    .warehouse-data {
        margin: 0;
        padding: 10px;
        min-width: 340px
    }
}


.warehouse-form {
    margin: 20px 0;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    height: max-height;
}

.user-img-info {
    display: flex;
    align-items: center;
    height: 15vh;
}

.user-img-info .img {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px !important;
    height: 100%;
}
.user-img-info .img img{
    object-fit: contain;
}

.username {
    font-size: 1.1rem !important;
    font-weight: bold;
    height: max-content !important;
}


.location {
    width: 65%;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.del-btn-warehouse {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.warehouse-widgets {
    margin: 10px;
    width: 50%;
    min-width:340px;
    border-radius: 10px;
    padding: 15px 10px 10px 10px;
    background-color: white;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

}

.warehouse-widgets-info {
    width: 48%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.warehouse-widgets-info-data {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 5px;
}

.warehouse-widgets-info-data div h3,
.warehouse-widgets-info-data div p {
    display: inline;
}

.warehouse-widgets-info-data div p {
    font-weight: 400;
    font-size: 17px;
}

.warehouse-widgets-info-data div:first-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.del-btn-warehouse-disalble {
    display:none;
    pointer-events: none;
}

.cont {
    display: flex;
    gap: 20px;
    height: 100%;
}
.warehouses-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userinfo{
    height:max-content !important;
}
@media screen and (max-width:700px){
    .warehouses {
        display: grid;
        grid-template-columns: 1fr;
    }
    .user-img-info{
        height:15vh !important;
    }
    .warehouse-widgets {
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .warehouse-widgets-info {
        width: 100%;
    }
    .warehouse-widgets {
        flex-direction: column !important;
        justify-content: flex-start;
        gap: 20px !important;
        min-height: max-content;
    }
}
@media screen and (max-width:1400px) {
    .warehouses {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:850px) {
    .warehouses {
        grid-template-columns: 1fr;
    }
}