.warehouses {
    margin: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* gap: 20px; */
}
.userinfo{
    min-width: 100%;
}


.warehouse-form {
    margin: 20px 0;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    height: max-height;
}

.user-img-info {
    display: flex;
    align-items: center;
    height: 15vh;
}

.user-img-info .img {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px !important;
}
.user-img-info .img img{
    object-fit: fill;
}

.username {
    font-size: 1.1rem !important;
    font-weight: bold;
    height: max-content !important;
}

.personicon{
    border-radius: 50% !important;
    width: 100px !important;
}

.location {
    width: 65%;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.del-btn-warehouse {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.warehouse-widgets {
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.warehouse-widgets-info {
    width: 48%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.warehouse-widgets-info-data {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 5px;
}

.warehouse-widgets-info-data div h3,
.warehouse-widgets-info-data div p {
    display: inline;
}

.warehouse-widgets-info-data div p {
    font-weight: 400;
    font-size: 17px;
}

.warehouse-widgets-info-data div:first-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.del-btn-warehouse-disalble {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
}

.cont {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.warehouses-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userinfo{
    height:16vh !important;
}
@media screen and (max-width:700px){
    .warehouses {
        display: grid;
        grid-template-columns: 1fr;
    }
    .user-img-info{
        height:15vh !important;
    }

}
@media screen and (max-width:1400px) {
    .warehouses {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:850px) {
    .warehouses {
        grid-template-columns: 1fr;
    }
}