.dashboardHeader {
  background-color: #2bc790;
  height: 7vh;
}

.dashboardBar {
  padding: 1vw 2vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboardBar p {
  font-size: 1.2vw;
}

.dashboardBar button {
  border-radius: 50%;
  height: 2.5vw;
  width: 2.5vw;
}

.dashboardBar button * {
  font-size: 1.5vw;
}

.dashboardBar * {
  color: white;
}

.dashboards {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between !important;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.dashboards ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.dashboards ul .dashboardListItem {
  width: 49.5%;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: #fff;
  height: 10vh;
  transition: all 0.2s ease;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.dashboards ul .dashboardListItem:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transform: scale(1.005);
}
.dashboard-cont{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 8px;
}

.dashboards ul .dashboardListItem .title {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  padding:25px;
  overflow: hidden;
  font-size: 1rem;
}

.dashboards ul .dashboardListItem .button-container {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  gap: 5px;
  /* border: 1px solid black; */
}

.dashboards .delete-icon {
  color: rgb(213, 13, 13);
  font-size: 1.2rem;

}

.dashboards .edit-icon {
  color: green;
  font-size: 1.2rem;
}

.dashboards .deletemsg {
  background-color: red;
  color: white;
}

.typography{
  font-size:1.2rem !important;
  transition: all 0.2s ease;
}

@media screen and (max-width: 800px) {
  .dashboards ul .dashboardListItem{
    width: 100%;
    height:9vh;
  }
  .dashboards{
    width: 100%;
  }
  .dashboardListItem .title{
    font-size:15px !important;
  }
}
@media screen and (max-width: 890px) {
  .dashboards ul .dashboardListItem {
      width: 100%;
      height: 8vh;
    }
}
@media screen and (max-width: 320px) {
  .dashboards {
    min-width: 320px;
  }
  .typography{
    font-size:1.08rem !important;
  }
  .app-bar-dashboard{
    min-width: 320px;
  }
}