

.dashboard ul li {
    width: 49%;
    box-sizing: border-box;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 0;
    background-color: #fff;
    cursor: pointer;
}

.dashboard ul li span{
    width: 80%;
    height: 100%;
    padding: 18px;
    overflow-x: hidden;
}

.dashboard ul li div{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 18px;
}