.recharts-legend-wrapper {
  font-size: 10px; /* Adjust the font size as needed */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the legends */
}

.recharts-legend-item {
  font-size: 10px; /* Ensure font size is consistent for each legend item */
  margin: 0 5px; /* Add space between legend items */
}

.recharts-legend-item-text {
  white-space: nowrap; /* Prevent legend text from wrapping */
}


.widget-container {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px; /* Ensure a minimum width */
  min-height: 50px; /* Ensure a minimum height */
}

.widget-container .widget {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.widget .widget-header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}


/* Dashboard.css or equivalent file */

.layout {
  position: relative;
}

.grid-line {
  position: absolute;
  background: rgba(0, 0, 0, 0.1); /* Color and opacity of grid lines */
  z-index: 1; /* Ensure grid lines are behind the widgets */
}

/* Vertical grid lines */
.vertical-line {
  width: 1px; /* Width of the line */
  height: 100%;
  top: 0;
  left: 0;
}

/* Horizontal grid lines */
.horizontal-line {
  height: 1px; /* Height of the line */
  width: 100%;
  top: 0;
  left: 0;
}
