.devices{
    padding : 20px;
}
.devices h2{
    margin-bottom : 20px;
}
.devices ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 10px;
    cursor: pointer;
    align-items: center;
}

.devices ul li {
    width: 49%;
    box-sizing: border-box;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 0;
    background-color: #fff;
}
.delete-icon{
    color: rgb(213, 13, 13);
}
.edit-icon{
    color: green;
}
.deletemsg{
    background-color:red;
    color: white;
}

.devices ul li .deviceName{
    width: 80%;
    height: 100%;
    padding: 18px;
    overflow-x: hidden;
}

.devices ul li div{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 18px;
}