.devices{
    padding : 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between !important;
    gap: 20px;
    height: 89.8vh;
}
.device-ul h2{
    width: 100%;
    margin-bottom: 15px;
}

.devices ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 10px;
    cursor: pointer;
}

.devices .device-ul li {
    width: 49%;
    box-sizing: border-box;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 0;
    background-color: #fff;
    height: 13.3vh;
    font-size: 1.15em;
    transition: all 0.2s ease;
}
.devices ul li span{
    display: flex;
    align-items:center;
}
.delete-icon{
    color: rgb(213, 13, 13);
}
.edit-icon{
    color: green;
}
.deletemsg{
    background-color:red;
    color: white;
}

.devices ul li .deviceName{
    width: 80%;
    height: 100%;
    padding: 18px;
    overflow-x: hidden;
}

.devices ul li div{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 18px;
}

@media screen and (max-width: 850px){
    .devices {
        width: 570px;
    }
}

@media screen and (max-width: 700px) {
    .devices {
        width: 100%;
    }
    .devices .device-ul li {
        width: 100vw;
        height: 13.3vh;
    }
}

@media screen and (max-width: 1050px){
    .devices .device-ul li {
        width: 48%;
    }
}
@media screen and (max-width: 500px){
    .devices {
        padding: 8px;
    }
    .devices .device-ul li{
        width: 100vw;
        height: 8vh;
    }
}