.add-dashboard {
    margin: 20px;
    padding: 40px;
    background-color: #fff;
    max-width: 55%;
    min-width: 440px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.add-dashboard .label {
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
}

.add-dashboard .text-field-box {
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 4px;
}

.add-dashboard .form-control {
    margin-bottom: 20px;
    width: 100%;
}

.add-dashboard .accountinfo-savebtn {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

.add-dashboard .btn-save-add-dashboard {
    width: 180px;
    height: 55px;
    font-size: 14px;
}

.add-dashboard form {
    width: 100%;
}

.add-dashboard .MuiFormControl-root {
    margin-top: 0;
}

@media screen and (max-width: 700px) {
    .add-dashboard {
        padding: 20px;
        min-width: 290px;
        max-width: 88%;
    }

    .add-dashboard .btn-save-add-dashboard {
        width: 100%;
        height: 45px;
    }
}