.accountinfo{
    width: 55%;
    background-color:white;
    margin: 15px 0 0 10px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    min-width: 600px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
.accountinfo-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.accountinfo-email , .accountinfo-lastlogin{
    display: flex;
    flex-direction:column;
    gap: 2px;
}
.accountinfo-profile{
    font-size:25px;
}
.accountinfo-main{
    width: 100%;
    height:max-content;
    margin-top: 10px;
    padding: 10px 0px;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    gap: 20px;
}
.accountinfo-savebtn{
    text-align:start;
}
@media screen and (max-width:1200px) {
    .accountinfo{
        width: 600px;
    }
}
@media screen and (max-width:700px){
    .accountinfo{
        width:100%;
        min-width: 10px;
        margin: 0;
        min-width: 340px;
    }
}