.accountinfo{
    width: 55%;
    background-color:white;
    margin: 15px 0 0 10px;
    padding: 20px;
    margin: 20px;
        border-radius: 10px;
}
.accountinfo-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.accountinfo-email , .accountinfo-lastlogin{
    display: flex;
    flex-direction:column;
    gap: 2px;
}
.accountinfo-profile{
    font-size:25px;
}
.accountinfo-main{
    width: 100%;
    height:max-content;
    margin-top: 10px;
    padding: 10px 0px;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    gap: 20px;
}
.accountinfo-savebtn{
    text-align:end;
}