.sub-btn-flex{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}
.user-img-info .img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.warehouses-cont{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.warehouses .status{
    display: flex !important;
    justify-content: space-between !important;
}
@media screen and (max-width:500px){
    .warehouses{
        min-width:340px;
        margin: 0;
        padding: 5px;
        gap: 8px;
    }
    .warehouses-cont{
        height: 100%;
    }
}