.sub-btn-flex{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}
.user-img-info .img{
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.warehouses-cont{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}