.users {
    min-width: 410px;
    max-width: 50%;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.2s ease;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.users form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.users form .input-user {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-field-box {
    background-color: #ebebeb;
}

.btn-save {
    width: 150px !important;
    height: 50px !important;
}

.input-user-checkbox {
    display: flex;
    align-items: center;
}
.activation-link{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.activation-links{
    width: 60px;
    text-align: center;
    font-size:18px;
}
@media screen and (max-width:500px) {
    .users{
        min-width:340px;
        margin: 0;
        max-width: 100%;
    }
}
@media screen and (max-width:700px) {
    .users {
        max-width: 100%;
        min-width:340px;
    }
}