/* Base styles */
.app-bar {
  background-color: #1976d2;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.toolbar-left,
.toolbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* RESET FORM ELEMENTS */
.input-container input[type='date'],
.input-container input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

/* INPUT CONTAINER  */
.input-container {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #fff;
}

.input-container label {
  position: relative;
  width: 100%;
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 8px;
  letter-spacing: 0.1em;
  color: white;
  margin-left: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.input-container input {
  position: relative;
  align-items: center;
  font-family: 'Lekton', Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}

.date-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
