.charts{
    width: 100%;
    height:max-content;
    padding:20px;
}

.chart{
    width: 100%;
    height:100%;
    background-color: white;
    padding: 30px;
    border-radius:10px
}
.chart .form-control {
    width: 700px;
    margin: 30px 0px 30px 0px!important;
}

.form-control-inner {
    width: 100%;
}
.tablecell{
    font-size:15px !important;
}
