.add-device {
    margin: 8px;
    padding: 20px;
    background-color: white;
    min-width: 440px;
    max-width: 50%;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.add-device .label {
    font-size: 18px !important;
    margin-bottom: 8px !important;
    display: inline-block;
}
.add-device .text-field-box {
    width: 100%;
    background-color: #ebebeb;
    margin-bottom: 20px;
}

.add-device .form-control {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    background-color: #ebebeb;
}
.form-control-inner{
    width: 100%;
}

.add-device .accountinfo-savebtn {
    text-align: start !important;
    margin-top: 30px !important;
    padding: 10px 0 10px ;
}
.accountinfo-savebtn .btn-save{
    width: 150px;
    height: 50px;
}
.add-device form{
    width: 100%;
}
.add-device .MuiFormControl-root {
    margin-top: 0px !important;
}
@media screen and (max-width:500px){
    .add-device{
        margin: 0;
        min-width: 100%;
    }
}

@media screen and (max-width:700px) {
    .add-device {
        max-width: 100%;
        min-width: 400px;
    }
}