html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.side-bar::-webkit-scrollbar,
.sidebar2::-webkit-scrollbar,
.sidebar3::-webkit-scrollbar {
    width: 1px;
}

.side-bar::-webkit-scrollbar-track,
.sidebar2::-webkit-scrollbar-track,
.sidebar3::-webkit-scrollbar-track {
    background: #f4f6f9;
}

.side-bar::-webkit-scrollbar-thumb,
.sidebar2::-webkit-scrollbar-thumb,
.sidebar3::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.side-bar::-webkit-scrollbar-thumb:hover,
.sidebar2::-webkit-scrollbar-thumb:hover,
.sidebar3::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.side-bar,
.sidebar2,
.sidebar3 {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) #f4f6f9;
}

.Menu {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #2bc790;
    color: white;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    font-weight: bold;
}

.side-bar,
.sidebar2,
.sidebar3 {
    height: calc(100vh - 65px);
    width: 275px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    transition: transform 0.2s ease, width 0.2s ease;
    z-index: 100;
    position: relative;
}

#side-bar {
    height: calc(100vh - 62px);
    width: 275px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    overflow-y: auto;
    transition: transform 0.3s ease, width 0.3s ease;
    z-index: 100;
    position: relative;
    background-color: white;
    transform: translateX(0);
}

.sidebar-collapsed {
    transform: translateX(-275px);
}

.sidebar2 {
    transform: translateX(-275px);
}

.side-bar ul li,
.sidebar2 ul li {
    padding: 14px;
    font-weight: 500;
    /* Corrected font-weight */
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.side-bar ul li:hover,
.sidebar2 ul li:hover {
    background-color: #2bc790;
    color: white;
}

/* Additional sidebar styles */
.quick-action {
    font-size: 17px;
    font-weight: 500;
    color: #555;
    padding: 14px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.speedicon {
    font-size: 28px;
    color: #2bc790;
    transition: color 0.3s ease;
}

.side-bar ul li:hover .speedicon {
    color: white;
}

#side-bar ul li:hover .speedicon {
    color: white;
}

/* Links and counts */
.link,
a {
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.count {
    padding: 2px 10px;
    border-radius: 10px;
    background-color: #2bc790;
    color: white;
    font-size: 14px;
    position: absolute;
    right: 25px;
    font-weight: bold;
}

/* User selection dropdown */
.user-selection {
    display: flex;
    flex-direction: column;
    transition: max-height 0.3s ease;
}

.user-selection li {
    color: rgba(0, 0, 0, 0.7);
    min-width: 100%;
    font-size: 1.02rem !important;
}

.arrow-down {
    color: black;
    position: absolute;
    right: 25px;
    transition: all 5s ease;
}

.toggle-user {
    max-height: 0;
    overflow: hidden;
}

.toggle-user-open {
    max-height: 200px;
}

.user-selection-link {
    padding: 14px;
    background-color: #f4f6f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.side-bar ul li:hover .arrow-down,
.sidebar2 ul li:hover .arrow-down {
    color: white;
}

.user-selection-link:hover {
    background-color: #dcefff;

}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.menu-icon:hover {
    transform: rotate(90deg);
}

@media screen and (max-width: 1200px) {
    .side-bar {
        width: 250px;
    }

    .side-bar ul li,
    .sidebar2 ul li {
        font-size: 1rem;
    }
}