.vehicle{
    min-width: 550px;
    max-width: 50%;
    padding: 20px;
    margin:10px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.2s ease;
}
.vehicle-form{
    width: 100%;
}
.vehicle-form .textfieldss{
    background-color:#ebebeb;
}
.okkkk{
    border: 1px solid red;
    position:fixed !important;
}
.css-139byy9-MuiSnackbar-root{
    position: fixed !important;
}

.vehicle-form .sub-btn{
    margin-top:30px;
}

@media screen and (max-width:500px) {
    .vehicle {
        margin: 0 0 50px 0;
        max-width: 100%;
        min-width: 340px;
    }
}

@media screen and (max-width:700px) {
    .vehicle {
        max-width: 100%;
    }
}