.map-container {
    flex: 1; /* Ensures that the map container takes the full remaining height after the title */
    display: flex;
    flex-direction: column;
}

#map {
    flex: 1; /* Ensures the map takes up all available space inside the map-container */
    width: 100%;
}