@keyframes slideIn {
    from {
        transform: translateX(20%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-70%);
        opacity: 0;
    }
}

.page-enter {
    animation: slideIn 0.3s ease-out forwards;
}

.page-exit {
    animation: slideOut 0.3s ease-in forwards;
}

.App {
    display: flex;
    width: 100vw;
}

.menu-data::-webkit-scrollbar {
    width: 1px;
}

.menu-data::-webkit-scrollbar-track {
    background: #f4f6f9;
}

.menu-data::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.menu-data::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* For Firefox */
.menu-data {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) #f4f6f9;
}


.menu-data {
    position: absolute;
    left: 275px;
    width: calc(100% - 275px);
    top: 61px;
    /* width: 80%; */
    overflow-y: auto;
    box-sizing: border-box;
    height: calc(100vh - 65px);
    display: inline-flex;
    justify-content: flex-start;
}



@media screen and (max-width: 1200px) {
    .menu-data {
        transform: translateX(-25px);
        width: calc(100% - 250px);
    }
}

@media screen and (max-width: 700px) {
    .menu-data {
        transform: translateX(-276px);
        width: 100%
    }
}

