@keyframes slideIn {
    from {
        transform: translateX(20%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-70%);
        opacity: 0;
    }
}

.page-enter {
    animation: slideIn 0.3s ease-out forwards;
}

.page-exit {
    animation: slideOut 0.3s ease-in forwards;
}


.menu-data {
    position: absolute;
    left: 275px;
    width: calc(100% - 275px);
    top: 61px;
    overflow-y: auto;
    box-sizing: border-box;
    height: calc(100vh - 65px);
}

