@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background-color: #ebebeb;
}

html {
    scroll-behavior: smooth;
}
.pageHeaders{
    padding: 10px;
    margin:10px;
    background-color: white;
    display: grid;
    align-items: center;
    grid-template-columns: 0fr 0fr;
    grid-gap: 30px;
}

@media screen and (max-width:500px) {
    .pageHeaders {
        margin: 5px;
    }
    .MuiSnackbar-root{
        margin-top:10px !important;
    }
}
