@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background-color: #ebebeb;
}

html {
    scroll-behavior: smooth;
}
.pageHeaders{
    padding: 10px;
    margin:10px;
    background-color: white;
    display: grid;
    align-items: center;
    grid-template-columns: 0fr 0fr;
    grid-gap: 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.warehouse {
    min-width: 400px;
    max-width: 55%;
    height: auto;
    padding: 20px;
    background-color: white;
    margin: 20px;
}

.warehouse-form {
    margin: 20px 0;
    width: 100%;
    opacity: 1;
    transform: translateY(0);
    height: max-height;
}

@media screen and (max-width:500px) {
    .pageHeaders {
        margin: 5px;
    }
    .MuiSnackbar-root{
        margin-top:10px !important;
    }
}
