/* AddSensor.css */

.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.warehouse{
    border-radius: 10px;
    margin: 10px !important;
    min-width: 430px !important;
    max-width: 50%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.sensor-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.warehouse .sub-btn, .warehouse-data .sub-btn{
    margin-top: 30px !important;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:disabled {
    background-color: #a5d6a7;
    cursor: not-allowed;
}

.success-message {
    text-align: center;
}

.reset-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #2196F3;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #1976D2;
}


.warehouse .textfieldss {
    background-color: #ebebeb;
}


.form-group {
    /* border: 1px solid black; */
    height: 90px
}

.form-group {
    height: max-content;
}

#cooling_units {
    height: 50px;
    background-color: #ebebeb;
}

#cooling_units .select__control {
    height: 40px !important;
    padding: 0;
    box-sizing: border-box;
}

.css-13cymwt-control {
    height: 60px;
    background-color: #ebebeb !important;
}

.css-t3ipsp-control {
    height: 60px;
    background-color: #ebebeb !important;
}

.form-group-coolents {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
}

.form-group select {
    background-color: #ebebeb;
}

.sensors-coolent {
    margin-top: 15px !important;
}
@media screen and (max-width:500px){
    .warehouse{
        margin: 0 0 50px 0 !important;
        min-width:340px !important;
        max-width: 100%;
    }
}
@media screen and (max-width:700px) {
    .warehouse{
        max-width: 100%;
    }
}