.user{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 25px;
    border-radius: 10px;
}
.userinfo{
    width: 32%;
    height: 180px;
    background-color: white ;
    border-radius: 10px;
}
.user-img-info{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-img-info .img{
    width: 30%;
    height: 90%;
    border-radius: 50%;
    position: relative;
    z-index: 10;
}
.status{
    width: 60%;
    height:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.personicon{
    width: 80% !important;
    height: 80% !important;
    position: absolute !important;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.776) !important;
}
.status p{
    width: 100%;
    height:20%;
    display: flex;
    align-items: center;
}
.username{
    font-size: 20px;
}
.accountinfo-savebtn-delt-btn{
    display:flex;
    gap: 30px;
    margin-top: 15px;
}
.user-img-info .img img {
    transition: opacity 0.3s ease-in-out;
}
.user-cont{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* users.css */
.user-cont {
    position: relative;
    /* overflow: hidden; */
    width: 100%;
}

.user {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    transition: transform 0.5s ease;
    /* Use ease for smoother transitions */
}

.slide-right {
    transform: translateX(100%);
    /* Slide in from the right */
    animation: slideInFromRight 0.5s ease forwards;
}

.slide-left {
    transform: translateX(-100%);
    /* Slide in from the left */
    animation: slideInFromLeft 0.5s ease forwards;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.error-message,
.no-user-message {
    text-align: center;
    margin-top: 20px;
    color: red;
}

