.user {
  width: 100px;
  min-width: 430px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 25px;
  border-radius: 10px;
}
.userinfo {
  width: 32%;
  height: 180px;
  background-color: white;
  border-radius: 10px;
}
.user-img-info {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.user-img-info:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transform: scale(1.005);
}

.user-img-info .img {
  width: 30%;
  height: 100%;
  /* border-radius: 50%; */
  position: relative;
  z-index: 10;
}
.userinfo .user-img-info .status {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.personicon {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  /* border-radius: 50%; */
  color: rgba(0, 0, 0, 0.776) !important;
}
.status p {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}
.username {
  font-size: 1.1em !important;
  overflow: hidden;
}
.accountinfo-savebtn-delt-btn {
  display: flex;
  gap: 30px;
  margin-top: 15px;
}
.user-img-info .img img {
  transition: opacity 0.3s ease-in-out;
}
.user-cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-cont {
  position: relative;
  width: 100%;
}

.user {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  transition: transform 0.5s ease;
}

.slide-right {
  transform: translateX(100%);
  animation: slideInFromRight 0.5s ease forwards;
}

.slide-left {
  transform: translateX(-100%);
  animation: slideInFromLeft 0.5s ease forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.error-message,
.no-user-message {
  text-align: center;
  margin-top: 20px;
  color: red;
}
@media screen and (max-width: 500px) {
  .user-cont {
    height: max-content;
  }
  .userinfo {
    width: 100%;
    height: 130px;
  }
  .username {
    font-size: 1.1em !important;
  }
  .status {
    gap: 8px;
  }
  .user {
    padding: 10px;
    gap: 8px;
  }
}
@media screen and (max-width: 700px) {
  .userinfo {
    width: 100%;
    height: 16vh;
  }
  .status {
    padding: 0 0 0 30px;
    gap: 8px;
  }
  .user {
    padding: 10px;
    gap: 10px;
  }
  .user-cont {
    min-height: 100%;
    max-height: 100%;
  }
}
@media screen and (max-width: 1330px) {
  .userinfo {
    width: 48.9%;
  }
}
@media screen and (max-width: 1250px) {
  .userinfo {
    width: 48.5%;
  }
}
@media screen and (max-width: 980px) {
  .userinfo {
    width: 100%;
    height: 14vh;
  }
  .status {
    padding: 0 0 0 20px;
    gap: 10px;
  }
  .user {
    gap: 10px;
  }
  .personicon {
    /* border-radius: 50% !important; */
    width: 100px !important;
  }
}
